{
  "env": {
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "plugin:typescript-enum/recommended"],
  "plugins": ["typescript-enum"],
  "rules": {
    "vue/html-self-closing": "off",
    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline": "off",
    "no-undef": "off",
    "vue/html-indent": "off"
  }
}